<!-- <h2>Java Courses Works!</h2><hr>
  <div>
  <table border="2" style="width: 100%; height: 100%;">
    <tr>
        <td colspan="3">
        <input type="text" class="form-control" placeholder="Search Course Name" [(ngModel)]="filteredString"/>
        </td>
        <td colspan="2">
            <select  class="form-control" [(ngModel)]='sortby'> 
                <option [value]='1'>
                    SortbyName
                </option>
                <option [value]='2'>
                    SortbyPrice
                </option>
                
            </select>
        </td>
    </tr>
    <tr>
        <th class="bg-info text-white">
            Course Id
        </th>
        <th class="bg-info text-white">
            Course Name
        </th>
        <th class="bg-info text-white">
            Course Price
        </th>
        <th class="bg-info text-white">
            Course Descrption
        </th>
        <th class="bg-info text-white">
            Course Img
        </th>
    </tr>
    <tr appMycolor *ngFor="let Course of courses | coursesearch:filteredString | coursesort:sortby">

        <td  class="bg-info text-white">
            {{Course.courseId}}
     </td>
     <td  class="bg-info text-white">
         {{Course.courseName | titlecase}}
  </td>
  <td  class="bg-info text-white">
     {{Course.coursePrice | currency:'INR'}}
</td>
<td   class="bg-info text-white">
 {{Course.courseDescrption | lowercase}}
</td>
<td  class="bg-info text-white">
 <img [src]="Course.courseImg" height="70px" width="90px">
</td>
 </tr>
</table>
</div>
{{errMsg | json}} -->











<h2>JavaComponent</h2><hr>
<body>
  <div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="assets/corejava.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Core Java Technologies</h4>
              <p class="card-text">In this course you will traine Core Java,OOPS </p>
         
              <a [routerLink] = "['corejava']" routerLinkActive='active' class="btn btn-primary">Enrol Now</a>
            </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="card" style="width:200px">
            <img class="card-img-top" src="assets/advjava.jpg" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Advance Java Technologies</h4>
              <p class="card-text">In this course you will traine Java script and JDBC </p>
         
              <a [routerLink] = '["advjava"]' routerLinkActive='active' class="btn btn-primary">Enrol Now</a>
            </div>
            </div>
        </div>
    </div>
</div>
    </body>
<router-outlet></router-outlet>